include mixin.jade

mixin addPostCard(post)
  .card
    h3: a(href="/" + post.dateString + "/" + post.url)= post.title
    .time
      +dateFormatOut(post.postTime)
      span.author 作者：
        a(href="/u/" + post.author.name)= post.author.name
      span.category 分类：
        a(href="/c/" + post.category)
          +cateToString(post.category)      
    a.btn.btn-primary(href="/new/"+post._id) 修改
    button.btn.btn-primary.delPost(postid=post.id) 删除

extends ../layout/layout

block content
  a.btn.btn-lg.btn-primary(href="/new") 写新文章
  .row
    .col-xs-12.col-md-8
      if (posts && posts.length)
        each post in posts
          +addPostCard(post)
    .col-md-4
      h3 文章管理

