include ../mixins/public

doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title || 'node-cms'
    link(rel='stylesheet', href='/stylesheets/custom-bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

    //include your own style
    block stylesheet

  body
    nav.navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#id-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") node-cms

        .collapse.navbar-collapse#id-collapse
          ul.nav.navbar-nav.nav-color
            li
              a(href="/") 首页
            li
              a(href="/c/tech") 技术
            li
              a(href="/c/business") 业界          

    .container.body
      //define content
      block content

    hr
    .container
      //footer info
      if username
        a.navbar-link(href="/admin/" + username)= username
          | ,  欢迎您
      else
        p 
          a.navbar-link(href="/user/signup") 注册
        p
          a.navbar-link(href="/user/login") 登陆
      br
      br
      p.text-center
        | ©2014 Jiansoft

    //only have livereload.js in devlopment!!!
    script(src="//localhost:35729/livereload.js")

    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/main.js")

    //include your own script
    block scripts